/*@media only screen and (min-width: 500px) {
    body {
        background-color: lightblue;
    }
}*/

.nav a {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://s27.postimg.org/rxpl3kq0z/logo.png');

  height: 1200px;
  min-height: 100vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron li {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #0d0202;

}

.jumbotron a:hover {
  color: orange !important;
  text-decoration: underline;


}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #f08080;
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fce9e9;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}


.project-guides {
    background-color: #efefef
    border-bottom: 1px;
    color: #808080;
    min-height: 100vh;
    max-height: 100%;

}

.project-guides p {
    font-size: 15px;
    margin-bottom:13px;
}
