/*@media only screen and (min-width: 500px) {
    body {
        background-color: lightblue;
    }
}*/

.nav a {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://s27.postimg.org/p4k5mzrar/unspecified.jpg');

  height: 1200px;
  min-height: 100vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
  /*@media only screen and (max-width: 375px) {
      .jumbotron {
          background-image:url('http://s27.postimg.org/p4k5mzrar/unspecified.jpg');
          height: 625px;
          min-height: 100vh;
          max-height: 100%;
          background-repeat: no-repeat;
          background-size: cover;

      }

  }*/


.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #808080;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #8b8b83;
}


.project-guides {
    background-color: #efefef
    border-bottom: 1px;
    color: #808080;
    min-height: 100vh;
    max-height: 100%;

}

.project-guides p {
    font-size: 15px;
    margin-bottom:13px;
}
